<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Order a beer form:)</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td>First name:</td>
                    <td>
                        <input type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>
                        <input type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>
                        <input type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Sumbit</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>